.navbar-toggler, .navbar-brand img, .navbar .container {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar {

	display: block;
	background-color: map-get($theme-colors, primary);
	
    height: 80px;
	
	.navbar-toggler {
		margin-top: 15px;
	}

	.navbar-brand>img {
	  height: 60px;
	}

    &.collapsed{
      height: 46px;

      .navbar-brand>img {
        height: 40px;

      }

      .navbar-toggler {
        margin-top: 4px;
      }

      .navbar-brand {
        padding: 0;
      }
    }  

}

.navbar .navbar-nav .nav-link.active {
  color: $midnight-blue;
}
