//==============================================================================
//  General responsive fixes
//==============================================================================
header {
  @include respond-below(md) {
        height: 910px;
  }
}


#responsive-highlights .responsive-highlight {

  @include respond-below(lg) {
    margin-bottom: 25px;
  }

}

.contact-form-wrapper {
  @include respond-below(lg) {
    margin-bottom: 20px;
  }
}

.gb-feature {
  @include respond-below(lg) {
    height: 200px;
    width: 200px;
  }
}

.form-error-message {

  @include respond-below(lg) {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    left: 0px;
    top: 68px;
    font-size: 18px;
    width: 350px;
  }
}

.contact-send-btn {
  margin:0;
}

//==============================================================================
//  Disable animations on tablet and mobile screens
//==============================================================================
@include respond-below(xl) {

  .scrollable-animated {
    visibility: visible;
  }

  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  header {
    animation: none !important;
  }
}
