//==============================================================================
//  Paths
//==============================================================================
$resource-path: "/resources";
$image-path: "#{$resource-path}/image";
$font-path: "#{$resource-path}/font";

//==============================================================================
//  Colors
//==============================================================================
/** Theme colors **/
$golden-yellow: #ffc000;
$light-gray: #f4f4f4;
$midnight-blue: #34495e;
$grey: #D0D0D0;

/** Utility colors **/
$error-color:#dc3545;

//==============================================================================
//  fonts
//==============================================================================
$default-font: "montserrat";

//==============================================================================
//  Overrides
//==============================================================================
/** bootstrap overrides **/
$btn-primary-bg: $golden-yellow;
$link-color: #ffffff;
$link-hover-color: #000000;

$navbar-bg: $golden-yellow;
$navbar-inverse-color: rgba(255, 255, 255, 1);

$body-bg: #ffffff;
$body-color: #111;

$teal: #ffffff;

$theme-colors: (
  "primary": #ffc000,
  "danger": #ff4136,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/** fontawesome overrides **/
$fa-font-path: $font-path;
