//==============================================================================
//  Paths
//==============================================================================
$resource-path: "/resources";
$image-path: "#{$resource-path}/image";
$font-path: "#{$resource-path}/font";

//==============================================================================
//  Colors
//==============================================================================
/** Theme colors **/
$main-color: #000000;
$secondary-color: #ffffff;

/** Utility colors **/
$error-color:#dc3545;

//==============================================================================
//  Overrides
//==============================================================================
/** bootstrap overrides **/
$link-color: $secondary-color;
$link-hover-color: darken( $secondary-color, 10% );

$navbar-bg: $main-color;

$body-bg: $secondary-color;
$body-color: $main-color;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/** fontawesome overrides **/
$fa-font-path: $font-path;
